# Python bytecode
*.pyc
__pycache__/

# Entornos virtuales (Virtual Environments)
.venv/
env/
venv/
VENV/

# Logs y bases de datos
*.log
*.sqlite3

# Archivos de configuración de editor/SO (opcional)
.vscode/
.DS_Store